<header>
  <div class="container header-flex">
    <div class="logo-title">
      <img src="{{ '/assets/images/logo.jpg' | relative_url }}" alt="Inkwell Logo" class="logo">
      <h1>Inkwell Global Report</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/team/' | relative_url }}">Our Team</a></li>
        <li><a href="{{ '/services/' | relative_url }}">Services</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
